<h1><%= @shop.name %></h1>

<h3><%= link_to "", new_shop_opening_time_path(@shop), class: "fas fa-plus-circle" %></h3>

<% if @shop.opening_times %>

  <h2><%= I18n.t('opening_time.schedule') %>:</h2>

  <%= render 'week_list' %>

<% end %>
